@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* =======================================
Custom Color Variables, Fonts & Theme Setup
========================================== */
:root {
  /* Colors */
  --color-brand: #f78a1d;
  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-warning: #f97316;
  --color-text: #1a1a1a;
  --color-text-light: #ffffff;
  --color-bg: #f3f4f6;
  --color-nav: #1f2937;
  --color-glow: #ffbb00;
  /* Fonts */
  --font-default: "Poppins", sans-serif;
  --font-alt: "Roboto", sans-serif;
}

/* =======================================
Logo Glow
========================================== */
.lamp-glow {
  animation: glow 2s ease-in-out infinite alternate;
  margin-top: 0.1em;
}
@keyframes glow {
  from {
    filter: drop-shadow(0 0 5px var(--color-glow));
  }
  to {
    filter: drop-shadow(0 0 15px var(--color-glow));
  }
}

/* =======================================
Custom Utility Components (Tailwind Layer)
========================================== */
@layer components {
  .cta {
    @apply bg-gradient-to-b from-orange-400 to-orange-600 text-white px-2 py-2 rounded-xl font-bold transition ease-in-out duration-300;
  }
  .nav-link {
    @apply text-gray-300 hover:text-white transition duration-300;
  }
  .btn-primary {
    @apply bg-[var(--color-brand)] text-white px-4 py-2 rounded hover:opacity-90 transition;
  }
  .about-card {
    @apply bg-[var(--color-bg)] border border-gray-200 rounded-3xl p-8 md:p-12;
  }

  .brandColorBorder {
    border: 2px solid var(--color-brand);
  }

  .text-success {
    color: var(--color-success);
  }

  .text-error {
    color: var(--color-error);
  }

  .text-warning {
    color: var(--color-warning);
  }

  .bg-nav {
    background-color: var(--color-nav);
  }

  .border-color-ideas {
    border: 2px solid var(--color-nav);
  }

  .bg-brand {
    background-color: var(--color-brand);
  }

  .cta:hover {
    /* animation: glow 1.5s ease-in-out infinite alternate; */
    box-shadow: 0 0 10px 5px var(--color-glow);
  }

  .checkbox-brand {
    accent-color: var(--color-brand);
  }

  .main-text {
    color: var(--color-text);
  }

  .light-bg {
    background-color: var(--color-bg);
  }

  .dark-text {
    color: var(--color-text);
  }

  .light-text {
    color: var(--color-text-light);
  }
  .font-default {
    font-family: var(--font-default);
  }

  .font-alt {
    font-family: var(--font-alt);
  }
  .footer-link {
    @apply text-gray-300 hover:text-white transition duration-300;
  }

  .social-link {
    @apply text-gray-300 hover:text-orange-500 text-xl transition duration-300;
  }
}
