.git
.gitignore
.DS_Store

**/node_modules
**/vendor
**/.nuxt
**/.output
**/dist
**/build
**/coverage

**/.env
**/.env.*

laravel-backend/storage/logs/*
laravel-backend/storage/framework/cache/data/*
laravel-backend/storage/framework/sessions/*
laravel-backend/storage/framework/views/*
